<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="SLab7, Inc. provides mobile and web development services. Our team is located in Quezon City, Philippines. We specialize in Python & Django, Java, Groovy & Grails, AngularJS front-end development and iOS Swift Development. We also provide outsourcing services for your business needs.">
  <title>SLab7 - Software Development & Consulting Company in the Philippines</title>
  <link rel="icon" href="<%= require('./favicon.ico') %>" type="image/x-icon" />
  <link href="https://fonts.google.com/specimen/Open+Sans?selection.family=Open+Sans:300,400,700" rel="stylesheet">
  <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
  <% } %>
  <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script async src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
  <% } %>
</head>
<body style="font-family: 'Open Sans', sans-serif;">
  <div id="hero-wrap">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#who-are-we">WHO ARE WE?</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#services">SERVICES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#portfolio">PORTFOLIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#team">TEAM</a>
          </li>
          <li class="nav-item">
            <a class="nav-link github" target="_blank" href="https://github.com/SLab7"><img src="<%= require('./github.svg') %>">GITHUB</a>
          </li>
        </ul>
      </div>
    </nav>

    <div id="CtaBox">
      <h1>
        <div class="HelpPhrase active">
          NEED<span class="HelpPhrase__typer"> HELP ON YOUR MOBILE OR WEB APP?</span>
        </div>
        <div class="HelpPhrase">
          NEED<span class="HelpPhrase__typer"> TO OUTSOURCE YOUR PROJECT?</span>
        </div>
        <div class="HelpPhrase">
          NEED<span class="HelpPhrase__typer"> PYTHON & DJANGO DEVELOPERS?</span>
        </div>
        <div class="HelpPhrase">
          NEED<span class="HelpPhrase__typer"> SWIFT & iOS APP DEVELOPERS?</span>
        </div>
        <div class="HelpPhrase">
          NEED<span class="HelpPhrase__typer"> US TO RESCUE YOUR PROJECT?</span>
        </div>
      </h1>

      <h2><span>SLab7, Inc.</span> is a software development company in the Philippines. We can help you <strong>wherever</strong> you are!</h2>

      <p>Send us a note at <a href="mailto:contact@softwarelab7.com">contact@softwarelab7.com</a><span class="or"> or</span></p>

      <div><a class="btn btn-primary btn-lg" target="_blank" href="https://goo.gl/forms/vL3gOFZwsSeLHGUD2" role="button">Inquire Now</a></div>

    </div>

    <div id="hero"></div>
  </div>

  <section id="who-are-we" class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1>SLab7, Inc. is a team of expert software developers</h1>

      <hr>

      <p>We are dedicated to craft software solutions for your business needs, wherever in the world you may be.</p>

      <p>Our <strong>talented team</strong> of in-house developers can create bespoke software applications that can improve efficiency in your processes and help deliver better results.</p>

      <p>Our commitment: Software that suits you. We begin by <strong>listening</strong> and understanding your company’s needs and challenges in a free consultation, then rally up the team for ideas that will address them.</p>

      <p>We are innovative, intelligent, reliable, creative, and all in all, an <strong>awesome</strong> team. But hey, don’t take our word for it, try us out for yourself!</p>
  </section>

  <section id="services">
    <div class="container">
      <h2>Services We Offer</h2>
      <h5>Our development services apply a client-tailored collaborative approach to each step of the process, from planning to building.</h5>
      <div class="row">
        <div class="col-lg-6">
          <div class="ServiceBlock ServiceBlockWeb">
            <h3>Web<br>Development</h3>
          </div>
          <p>Take control over your web presence. Our web development services are aimed at providing you <strong>back-end and front-end</strong> functionalities that will help you take control over your presence online.</p>
        </div>
        <div class="col-lg-6">
          <div class="ServiceBlock ServiceBlockMobile">
            <h3>Mobile<br>Development</h3>
          </div>
          <p>Represent your brand in a mobile app that can be integrated across all platforms. We pride ourselves in mobile app solutions that have <strong>great user experience</strong>.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="ServiceBlock ServiceBlockStaff">
            <h3>Staff<br>Augmentation</h3>
          </div>
          <p>We can staff your projects with developers and QA engineers to help with the work for a reasonable cost. We are <strong>strong collaborators</strong> that can work with your existing staff to help with your workloads.</p>
        </div>
        <div class="col-lg-6">
          <div class="ServiceBlock ServiceBlockRescue">
            <h3>Project Rescue</h3>
          </div>
          <p>Our talented engineers can help your project <strong>get to the finish line</strong>. We have years of experience and can help guide the project to completion.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="portfolio">
    <div class="container">
      <h2>Portfolio</h2>
      <div class="row">
        <div class="col-md-6 col-lg-4 PortfolioWrap">
          <div class="PortfolioBlock">
            <img src="<%= require('./ss-lnp.png') %>">
            <small>WEB</small>
            <p><strong>Last Night Pics</strong> is a Houston-based event photography company of talented and professional photographers providing high-quality images and event coverage.</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 PortfolioWrap">
          <div class="PortfolioBlock rocketmiles">
            <img src="<%= require('./ss-rocketmiles.png') %>">
            <small>WEB &middot; STAFF AUGMENTATION</small>
            <p><strong>Rocket Travel, Inc. (Priceline Group)</strong> allows customers to book premium hotels and earn thousands of airline miles. They also work on B2B / whitelabel solutions for the hotel booking / points industry.</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 PortfolioWrap">
          <div class="PortfolioBlock">
            <img src="<%= require('./ss-izzedin.png') %>">
            <small>WEB</small>
            <p>A collection of rule-breaking, rock n' roll vibe, body-hugging, bohemian chic clothing and accessory designs by <strong>Diane Izzedin</strong>.</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 PortfolioWrap">
          <div class="PortfolioBlock">
            <img src="<%= require('./ss-shazanimals.png') %>">
            <small>MOBILE</small>
            <p><strong>Shazanimals</strong> is a fun app that detects and translates pet sounds, entitling users to earn discounts, promotions and deals on pet products.</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 PortfolioWrap">
          <div class="PortfolioBlock">
            <img src="<%= require('./ss-forecastfishing.png') %>">
            <small>MOBILE</small>
            <p><strong>Forecast Fishing App</strong> offers all the real time data needed to forecast the best fishing times for saltwater locations in states and territories of the U.S.</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 PortfolioWrap">
          <div class="PortfolioBlock">
            <img src="<%= require('./ss-pageboy.png') %>">
            <small>MOBILE &middot; WEB</small>
            <p><strong>Pageboy</strong> is a chic and convenient app that delivers beauty services from your iPhone to your front door in less than an hour in Houston and nearby areas.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="team">

    <div class="container">
      <h2 class="text-center">Meet the Team</h2>
      <div class="row TeamBlockWrap">
        <!-- Red -->
        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 TeamBlock">
          <img class="TeamBlock__Photo" src="<%= require('./red.jpg') %>">
          <h4>Reginald Eli Deinla</h4>
          <small>CEO &middot; Developer</small>
          <a href="https://ph.linkedin.com/in/radeinla" target="_blank"><img src="<%= require('./linkedin.svg') %>"></a>
          <a href="https://twitter.com/radeinla" target="_blank"><img src="<%= require('./twitter.svg') %>"></a>
        </div>
        <!-- Virg -->
        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 TeamBlock">
          <img class="TeamBlock__Photo" src="<%= require('./virg.jpg') %>">
          <h4>Virginia Bustos</h4>
          <small>CTO &middot; Developer</small>
          <a href="https://ph.linkedin.com/in/virg-bustos-b2611243" target="_blank"><img src="<%= require('./linkedin.svg') %>"></a>
        </div>
        <!-- Ubi -->
        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 TeamBlock">
          <img class="TeamBlock__Photo" src="<%= require('./ubi.jpg') %>">
          <h4>Roberta Bustos</h4>
          <small>CFO &middot; Developer</small>
          <a href="https://ph.linkedin.com/in/roberta-bustos-3bb3325b" target="_blank"><img src="<%= require('./linkedin.svg') %>"></a>
        </div>
        <!-- Aida -->
        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 TeamBlock">
          <img class="TeamBlock__Photo" src="<%= require('./aida.jpg') %>">
          <h4>Aida Delos Reyes</h4>
          <small>Developer</small>
          <a href="https://twitter.com/aida_dlreyes" target="_blank"><img src="<%= require('./twitter.svg') %>"></a>
        </div>
        <!-- Girly -->
        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 TeamBlock">
          <img class="TeamBlock__Photo" src="<%= require('./girly.jpg') %>">
          <h4>Girly Ty</h4>
          <small>QA Engineer</small>
          <a href="https://ph.linkedin.com/in/girly-ty-7a022650" target="_blank"><img src="<%= require('./linkedin.svg') %>"></a>
        </div>
        <!-- Eds -->
        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 TeamBlock">
          <img class="TeamBlock__Photo" src="<%= require('./eds.jpg') %>">
          <h4>Edeline Cruz</h4>
          <small>Project Manager &middot; QA Engineer</small>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <h4>Contact Us</h4>

          <address>6th Floor Cyber One Bldg. 11 Eastwood Ave. Eastwood Cyberpark Bagumbayan Quezon City, Metro Manila 1110 Philippines</address>
          <address>Call us: +632 332 5802 | Mail: <a href="mailto:contact@softwarelab7.com">contact@softwarelab7.com</a></address>

          <small>© 2017 SLab7, Inc — All Rights Reserved.</small>
        </div>
      </div>
    </div>
  </footer>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109852477-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-109852477-1');
</script>
</body>
</html>